<html>
    <head>
        <title>
            Your folder
        </title>
        <body>
            <%- include ("./header.ejs") %>
            <br>
            <br>
            <% if (files.length > 0) { %>
                <% files.forEach(file => { %>
                    Name: <%= file.file_name %> <br>                    
                    <form action="/editFile/<%= file.file_name %>" method="get">
                        <button type="submit">Edit File</button>
                    </form>
                    
                    <form action="/share/<%= file.path %>" method="post">
                        <button type="submit">Share</button>
                    </form>

                    <form action="/download/<%= file.path %>" method="post">
                        <button type="submit">Download</button>
                    </form>
                <% }) %>
            <% } else { %>
                <h2>No files could be found - Go to the upload page and choose this folder to get started!</h2>
            <% } %>
        </body>
    </head>
</html>