<html>
    <head>
        <title>
            Edit Page
        </title>

        <body>
            <a href="/">Home page</a> <br>
            <a href="/categories">categories page</a>
            <br><br>
            <%= pleaseFixMessage %>
            <br>
            <br>
            <% if (errors.length > 0) { %>
                <% errors.map(err => { %>
                    <%= err.msg %> <br><br>
                <% }) %>
            <% } %>
            <form action="/" method="post">
                <label for="animalClassInput">Animal Class: </label>
                <input value="<%= animalClassValue %> "type="text" name="animalClassInput" id="animalClassInput" required>
                <br> <br>

                <label for="animalSpeciesInput">Species: </label>
                <input value="<%= animalSpeciesValue %>" type="text" name="animalSpeciesInput" id="animalSpeciesInput" required>
                <br><br>

                <label for="animalNativeToInput">Native To (continent): </label>
                <input value="<%= animalNativeToValue %>" type="text" name="animalNativeToInput" id="animalNativeToInput" required>
                <br><br>

                <label for="animalBreedInput">Breed: </label>
                <input value="<%= animalBreedValue %>" type="text" name="animalBreedInput" id="animalBreedInput" required>
                <br><br>

                <button type="submit">Add Animal</button>
            </form>
            
        </body>
    </head>
</html>