<html>
    <head>
        <title>
            Home Page - Animal Shelter
        </title>

        <body>
            <a href="/edit">edit page</a> <br>
            <a href="/categories">categories page</a>
            <br><br>
            
            <% data.forEach(row => { %>
                    <ul>
                        Animal Class: <%= row.animal_class %> <br>
                        Species: <%= row.species_name %> <br>
                        Originally From: <%= row.native_to %> <br>
                        Breed: <%= row.animal_breed %>

                        <form action="/<%= row.id %>/delete" method="post">
                            <button type="submit">Delete Animal</button>
                        </form>

                        <form action="/<%= row.id %>/edit-data" method="get">
                            <button type="submit">Edit Animal Details</button>
                        </form>
                         <br>
                    </ul>
            <% }) %>
        </body>
    </head>
</html>